SimQRiResults/oneshot.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="oneshot">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="time"/>
              <xs:element type="xs:string" name="element"/>
              <xs:element type="xs:string" name="action"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="attribute"/>
              <xs:element type="xs:float" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="query" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:float" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>