SimQRiResults/simqri-reports/montecarlo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="montecarlo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="element" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="attribute"/>
              <xs:element type="xs:string" name="max"/>
              <xs:element type="xs:string" name="min"/>
              <xs:element type="xs:string" name="mean"/>
              <xs:element type="xs:float" name="variance"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="runtime">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="max"/>
              <xs:element type="xs:float" name="min"/>
              <xs:element type="xs:float" name="mean"/>
              <xs:element type="xs:float" name="variance"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="query" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="max"/>
              <xs:element type="xs:string" name="min"/>
              <xs:element type="xs:string" name="mean"/>
              <xs:element type="xs:float" name="variance"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>